<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="SurveyName">
            <th mat-header-cell *matHeaderCellDef> Survey Name </th>
            <td mat-cell *matCellDef="let element"> {{element.SurveyName}} </td>
        </ng-container>

        <ng-container matColumnDef="From">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let element"> {{element.TEMPLATE_ID}} </td>
        </ng-container>

        <ng-container matColumnDef="To">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let element"> {{element.TEMPLATE_ID}} </td>
        </ng-container>

        <ng-container matColumnDef="Period">
            <th mat-header-cell *matHeaderCellDef> Period </th>
            <td mat-cell *matCellDef="let element"> {{element.SURVEY_STATUS_EN}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index;" (click)="selectRow(row)"
            [class.demo-row-is-clicked]="row.SRV_ID === surveySelected?.SRV_ID"></tr>

    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
</div>