<br><br><br>
<div class="container center">
    <form [formGroup]="reactiveForm">
        <input placeholder="Enter New Password" formControlName="password" (keydown)="passwordValidation()">
        <div>
            <small style="color: red" *ngIf="reactiveForm.get('password')?.errors?.['minlength'] &&
                reactiveForm.get('password')!.touched">Minimum length (8)</small>
            <small style="color: red" *ngIf="reactiveForm.get('password')?.errors?.['noSpaceAllowed'] &&
                reactiveForm.get('password')!.touched">Must include at least 1 upperCase letter</small>
            <small style="color: red" *ngIf="reactiveForm.get('password')?.errors?.['required'] &&
                reactiveForm.get('password')!.touched">Must include at least 1 lowerCase letter</small>
            <small style="color: red" *ngIf="reactiveForm.get('password')?.errors?.['required'] &&
                reactiveForm.get('password')!.touched">Must include at least 1 number</small>
            <small style="color: red" *ngIf="reactiveForm.get('password')?.errors?.['required'] &&
                reactiveForm.get('password')!.touched">Must include at least 1 special character</small>
        </div>
        <br><br>
        <!-- <input #cPassword> -->
    </form>
</div>